body{
    background: black;
    margin: 50px;  
}
div{
    background: white;
}
div.container{
    width: 500px;
    height: 600px;
}
.post{
    display: flex;
    justify-content: space-between;
    padding: 19px;
}
.post p{
    display: flex;
    vertical-align: middle;
    line-height: 25px;
    margin: 0px;
    padding: 0px;
    border:0px;

}
.post stan{
    display: flex
}

.post-header{
    display: flex;
    
}

.fa-html5{
    display: flex;
    font-size: 40px;
    margin-right: 5px;
}
.fa-ellipsis-vertical{
    font-size: 25px;
    text-align: center;
    padding-top: 10px;
}
div.post-body img{
    width: 100%;
border: 10px;
}

.fa-heart{
    font-size: 25px;
    margin-left: 10px;
}
.fa-comment{
    font-size: 25px;
}
.fa-paper-plane{
    font-size: 25px;
}
.fa-bookmark{
    font-size: 25px;
    float: right;
    margin-right: 15px;

}

    